<div class="card my-3">
  <div class='card-header'>
    <h3></h3>
  </div>

  <div class="row no-gutters align-items-center">
    <div class="col-12 col-md-5 col-xl-4 text-center">
      <!-- url2img -->
      <img class="card-img p-sm-3 newsImg" src="" alt="image">
    </div>

    <div class="col-12 col-md-7 col-xl-8">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <!-- description -->
          <p class="newsDescription"></p>
          <!-- author + sourceName-->
          <footer class="blockquote-footer"><p class="newsAuthor"></p> - <cite class="newsSourceName"></cite></footer>
        </blockquote>
        <!-- url -->
        <a class="btn btn-outline-success btn-lg btn-block newsUrl" href="">Read more</a>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted text-center">
    <!-- published at -->
    <h5 class="newsPublishedAt"></h5>
  </div>
</div>
