.body {
    padding: 0 5vw;
    min-height: 100vh;
}

.navigation {
    min-height: 5vh;
    padding: 2vh 0;
    display: block;
}

.content {
    display: block;
}

.footer {
    min-height: 5vh;
    display: block;
}