.row {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 2.5vh;
}

.row::-webkit-scrollbar {
    display: none;
}

/* .row > :first-child{
    padding-left: 0;
}

.row > :last-child{
    padding-right: 0;
} */