<nav class="navbar navbar-dark p-0">
  <div class="rounded-lg shadow" (click)="OnClear()">
      <!-- <a class="btn btn-outline-success btn-lg btn-block" href="{{news.url}}">Read more</a> -->
    <a class="m-0 navbar-brand btn btn-outline-secondary" routerLink="{{paths.home}}" target="_blank">{{title}}</a>
  </div>
  
  <div class="d-flex flex-row">
    <input #searchInput (keyup.enter)="OnSearch(searchInput.value)" class="form-control mr-2 my-2 my-sm-0 bg-dark text-light" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 shadow" (click)="OnSearch(searchInput.value)"><i class="fas fa-search"></i></button>
  </div>
</nav>